.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://raw.githubusercontent.com/patriciact29/DEV003-burger-queen-api-client/main/burger-queen/media/patron_BG2.jpg);
    background-position: 300px;
    background-attachment: fixed;
  }


.rectangle{
    margin-top: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 875px;
    height: 614px;
    background: #FFFFFF;
    border: 1px solid #88472E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#user{
    box-sizing: border-box;
    width: 360px;
    height: 44px;
    left: 417px;
    top: 443px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#password{
    box-sizing: border-box;
    width: 360px;
    height: 44px;
    left: 417px;
    top: 549px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#loginBtn{
    width: 200px;
    height: 50px;
    left: 497px;
    top: 621px;
    background: #88472E;
    border-radius: 30px;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
#userTittle{
width: 200px;
height: 38px;
font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
letter-spacing: 0.05em;
color: #484746;
}

#passwTittle{
width: 255px;
height: 38px;
font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.05em;
color: #484746;

}
