
<div class="container">
    <form>
      <div>

      </div>
        <div class="rectangle">
            <img src="https://raw.githubusercontent.com/patriciact29/DEV003-burger-queen-api-client/main/burger-queen/media/LOGO_BQ1.png"  alt="logo" width="270" height="240">
            <input type="email" id="user" placeholder="Usuario">
            <input type="password" id="password" placeholder="Contraseña">
            <button type="submit" id="loginBtn">INGRESAR</button>
        </div>
    </form>
</div>
