html, body{
  height:100%;
  margin: 0;
}

header {
  background-color: #F5BC4D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
}

.User {
  display: flex;
  margin-left: 20px;
  color: #484746;
  font-family: 'Anton';
  font-size: 30px;
}

img {
  display: flex;
}

.nav {
  padding: 15px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.contenedorCajas {
  display: flex;
  width: 100%;
  height: 100%;
}

.contenedorMenus {
  background-color: rgba(227, 237, 234, 0.977);
  width: 70%;
  height: 88vh;
}

.resumenPedido {
  display: flex;
  flex-direction: column;
  background-color: #C8D38E;
  width: 35%;
  height: 88vh;
}
.nav2{
  display: flex;
  width: 100%;
  height: 10%;
  padding: 5px;
  gap: 5px;
  margin-top: 10px;
}
.btnNav {
  width: 202px;
  height: 51px;
  background: white;
  border: none;
  border-radius: 30px;
  font-family: 'Anton';
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 0.03em;
  color: #484746;
}

nav button:hover {
  color: white;
  background-color: #91A61D;
}

.cajaBreakfast{
  display: flex;
}
.cajaPedidos {
  display: flex;
  width: 100%;
}
.btnNavPedidos{
  width: 150px;
  height: 51px;
  background: white;
  border: none;
  border-radius: 30px;
  font-family: 'Anton';
  font-weight: 400;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: 0.03em;
  color: #484746;

}
.nav2 button:hover {
  color: white;
  background-color: #88472E;
}
