header{
background-color: #F5BC4D;
justify-content: flex-end;
display: flex;
}
.nav{
  padding: 15px;
  width: 100%;
  display: flex;
  gap:10px;
}
.contenedorCajas{
background-color: blue;
display: flex;
width: auto;
height: auto;
}
.contenedorMenus{
  background-color: rgba(227, 237, 234, 0.977);
  width: 70%;
  height: 721px;

}

.resumenPedido{
  display: flex;
  background-color: #C8D38E;
  width: 30%;
  height: 723px;

}
.btnNav{
  width: 202px;
  height: 51px;
  background: white;
  border:none;
  border-radius: 30px;
  font-family: 'Anton';
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 0.03em;
  color: #484746;

}
nav button:hover{
  color: white;
  background-color:#91A61D;
}
.nombreCliente{
  color: #88472E;
  font-family: 'Anton';
  padding: 10px;
}
.inputNombre{
  border-radius: 30px;
}
