<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<header>
  <div>
    <label class="User" for="User">Nombre de Usuario: </label>
  </div>
  <img
    src="https://raw.githubusercontent.com/patriciact29/DEV003-burger-queen-api-client/main/burger-queen/media/Logo_fondo_naranja.png"
    alt="logo" width="95" height="80">
</header>
<div class="contenedorCajas">
  <div class="contenedorMenus">
    <nav class="nav">
      <button (click)="mostrarDesayuno()" class="btnNav" id="btnNav">DESAYUNO</button>
      <button (click)="mostrarMenu()" class="btnNav" id="btnNav">MENÚ</button>
    </nav>
    <div *ngIf="showBreakfast">
      <div class="cajaBreakfast">
        <app-breakfast></app-breakfast>
      </div>
    </div>
    <div *ngIf="!showBreakfast">
      <app-lunch></app-lunch>

    </div>
  </div>
  <div class="resumenPedido">
    <nav class="nav2">
      <button (click)="showOrder()" class="btnNavPedidos" id="btnNav">Resumen de Pedido</button>
      <button (click)="showBill()" class="btnNavPedidos" id="btnNav">Cuenta</button>
    </nav>
    <div class="cajaPedidos">
      <div *ngIf="showOrders">
        <app-order></app-order>
        <form>
          <label class="nombreCliente" for="clientName">Nombre de Cliente: </label>
          <input class="inputNombre" id="clientName" type="text" [formControl]="clientName">
        </form>
      </div>
      <div *ngIf="!showOrders">
        <app-bill></app-bill>
      </div>
    </div>
  </div>
</div>
<footer></footer>
